.h1 {
    @include fluid-type($min_width, $max_width, 28px, 40px);
    font-weight: 700;

    &--medium {
        font-weight: 500;
    }

    &--light {
        font-weight: 300;
    }
}

.h2 {
    @include fluid-type($min_width, $max_width, 22px, 32px);

    &--medium {
        font-weight: 500;
    }

    &--light {
        font-weight: 300;
    }
}

.h3 {
    @include fluid-type($min_width, $max_width, 18px, 24px);

    &--medium {
        font-weight: 500;
    }

    &--light {
        font-weight: 300;
    }
}

.h4 {
    @include fluid-type($min_width, $max_width, 16px, 22px);
    font-weight: 700;

    &--medium {
        font-weight: 500;
    }

    &--light {
        font-weight: 300;
    }
}
a {
    color: #003068;

    &:hover {
        text-decoration: none !important;
    }
}
main{

    margin-top: 58px;
    @include laptop{
        margin-top: 70px;
    }
}
li {
    list-style: none;
}
.button{
    background-color: color(white) !important ;
    border-radius: 2px !important;

    &:hover{
        background-color: color(orange);
    }
}

.btn{
    padding: 15px 0;

    @include laptop{
        padding: 15px;
    }
}
.btn-link{
    border: 1px solid color(grey-light);
    border-radius: 3px ;
    background-color: color(white);
    color: color(grey-medium) !important;
    padding: 5px 15px;
    transition: all .3s linear;

    &:hover{
        background-color: color(blue);
        color:  color(blue) !important;
    }
}

.btn-ulpgc {

    display: inline-block;
    border: 1px solid color(grey-light);
    border-radius: 3px ;
    background-color: color(blue) !important;
    color: color(grey-medium) !important;
    padding: 5px 15px;
    transition: all .3s linear;

    &:hover{
        background-color: color(blue);
        color:  color(blue) !important;
    }
}

input[type=checkbox]{
    display: inline-block !important;
    height: 24px !important;
    width: 24px !important;
    text-align: center !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    background: rgb(255, 255, 255) !important;
    overflow: hidden !important;
    border-radius: 4px !important;
}

.title {
    @include fluid-type($min_width, $max_width, 24px, 34px);
    padding: 15px 0;
    margin: 0;

    @include tablet {
        padding: 20px 0;
    }

    @include laptop {
        padding: 30px 0;
    }
}
.order {
    order: -1;

    @include laptop {
        order: 0;
    }
}



input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none !important;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-left: 0.3em;
    padding-bottom: 0.3em;
    margin-right: 0.5em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: #01387C;
    border-color: #01387C;
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #868585;
    border-color: #868585;
}
