@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body{
    color: color(black-medium);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    background-color: white ;
}

input , input:focus {
    border:none;
    box-shadow:none;
    background-color:none;
    outline: 0;
    font-size:16px;
    //font-family:'Open Sans';
    color:#bbb;
    padding:0px 12px;
}
