////////////////////////// Margins And Paddings ////////////////////

.m-0-auto {
    margin: 0 auto !important;
}

@for $i from 0 through 100 {

    .m-#{$i}px {
        margin: $i+px !important;
    }

    .p-#{$i}px {
        padding: $i+px !important;
    }

    .m-t-#{$i}px {
        margin-top: $i+px !important;
    }

    .p-t-#{$i}px {
        padding-top: $i+px !important;
    }

    .m-l-#{$i}px {
        margin-left: $i+px !important;
    }

    .p-l-#{$i}px {
        padding-left: $i+px !important;
    }

    .m-r-#{$i}px {
        margin-right: $i+px !important;
    }

    .p-r-#{$i}px {
        padding-right: $i+px !important;
    }

    .m-b-#{$i}px {
        margin-bottom: $i+px !important;
    }

    .p-b-#{$i}px {
        padding-bottom: $i+px !important;
    }
    .p-y-#{$i}px {
        padding: $i+px 0 !important;
    }
    .p-x-#{$i}px {
        padding: 0 $i+px 0 $i+px !important;
    }
    .m-y-#{$i}px {
        margin: $i+px 0 !important;
    }

}
////////////////////////////////////////////////////////////////////

///////////////////////////// Colors ///////////////////////////////
//#003867, #003569

$colors : (
    blue-primary   : #01387C,
    white          : #ffffff,
    black          : #000000,
    black-medium   : #222222,
    grey-primary   : #707070,
    grey-medium    : #868585,
    grey-light     : #e1e1e1,
    grey-secondary : #B9B9B9,
    grey-title     : #3D454C,
    grey-footer    : #F5F5F5,
    blue           : #003068,
    blue-medium    : rgb(77,118,170),
    orange         : #ff9a00,
    grey-hover     : #fafafa,
    grey-border    : #ced4da,
    grey           : #cccc,
    blue-footer    : #002E67

);

@function color($col) {
    @return map-get($colors, '#{$col}');
}

@each $key, $value in $colors {
    .color-#{$key} {
        color : $value !important;
    }
    .bg-#{$key} {
        background-color : $value !important;
    }
}
///////////////////////////////////////////////////////////////////

///////////////////////////// Borders ////////////////////////////
@each $radius in 0px, 1px, 2px, 3px {

    @each $size in 1px, 2px, 3px {

        @each $ckey, $cvalue in $colors {

            .b-a-#{$size}-#{$ckey}-#{$radius} {
                border: $size solid $cvalue !important;
                border-radius: $radius;
            }
            .b-t-#{$size}-#{$ckey}-#{$radius} {
                border-top: $size solid $cvalue !important;
                border-radius: $radius;
            }
            .b-r-#{$size}-#{$ckey}-#{$radius} {
                border-right: $size solid $cvalue !important;
                border-radius: $radius;
            }
            .b-b-#{$size}-#{$ckey}-#{$radius} {
                border-bottom: $size solid $cvalue !important;
                border-radius: $radius;
            }
            .b-l-#{$size}-#{$ckey}-#{$radius} {
                border-left: $size solid $cvalue !important;
                border-radius: $radius;
            }

            // Axes
            .b-x-#{$size}-#{$ckey}-#{$radius} {
                border-right:  $size solid $cvalue !important;
                border-left:   $size solid $cvalue !important;
                border-radius: $radius;
            }
            .b-y-#{$size}-#{$ckey}-#{$radius} {
                border-top:    $size solid $cvalue !important;
                border-bottom: $size solid $cvalue !important;
                border-radius: $radius;
            }

        }
    }
}
//////////////////////////////////////////////////////////////////

///////////////////////////// Font sizes /////////////////////////
$i : 10;
@while $i < 60 {
    .f-s-#{$i}px {
        font-size: $i+px !important;
    }
    $i : $i + 2;
}
//////////////////////////////////////////////////////////////////

///////////////////////////// Font weights ///////////////////////
$font-weights: (
    light: 300,
    regular: 400,
    medium: 600,
    bold: 700
);

@each $key, $value in $font-weights {
    .f-w-#{$key} {
        font-weight: $value !important;
    }
}
//////////////////////////////////////////////////////////////////

///////////////////////////// Line Heights ///////////////////////
@for $i from 1 through 60 {
    .l-h-#{$i}px {
        line-height: $i+px !important;
    }
}
//////////////////////////////////////////////////////////////////

///////////////////////////// Letter Spacing /////////////////////
@for $i from 1 through 30 {
    .l-s-#{$i}px {
        letter-spacing: $i+px !important;
    }
}
//////////////////////////////////////////////////////////////////

.img-center {
    display: block;
    margin: 0 auto;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}
