// Body
$body-bg: color(white);

// Typography
$font-family-sans-serif:'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;


@mixin phone-landscape {
    @media (min-width: 576px) {
        @content
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content
    }
}

@mixin laptop {
    @media (min-width: 992px) {
        @content
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content
    }
}

@mixin desktop-wide {
    @media (min-width: 1400px) {
        @content
    }
}

@mixin ultra-wide {
    @media (min-width: 1800px) {
        @content
    }
}


//Fluid Typography
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

//Default values for Fluid Typography mixin fluid type
$min_width: 320px;
$max_width: 992px;
$min_font: 14px;
$max_font: 40px;

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            //default value: line-height: auto; Could be overwritten by specific media queries
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));

            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;

            }
        }
    }
}

