@import 'helpers';
@import 'config';
@import 'variables';
@import 'basic';
@import 'overrides';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "front/header";
@import "front/job";
@import "front/footer";
@import "front/home";
@import "front/profile";
@import "front/box";
@import "front/wrapped";
@import "front/override";
@import "front/search";
@import "front/card";

//pages
@import "page/offer";
@import "page/login";

.company_img {
    height: 80px;
}

img {
    max-width: 100%;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}
