.login {
    padding: 35px 0;

    .card {
        &:hover {
            border: 1px solid color(grey-hover);
            box-shadow: 0 2px 10px rgba(0,0,0,.1);
        }
    }

    .card-header {
       background-color: color(blue);

        &__image {

            height: 70px;

            @include laptop {
                height: 50px;
            }
        }
    }

    &__title {
        padding: 0 30px;
        color: color(white);
        margin: 0;
    }

}
