.offer {
    padding: 15px;

    @include laptop {
        padding-top: 60px;
    }

    .arrow {
        width: 30px;
        display: inline-block;

        @include laptop {
            width: 44px;
        }

        &__subtitle {
            @include fluid-type($min_width, $max_width, 8px, 13px);
            color: color(grey-medium);
            padding-left: 10px;
        }
    }
    .logo {
        padding-bottom: 30px;
        border-bottom: 1px solid color(grey-light);
    }

    .image {
        min-width: 240px;
        order: 1;

        @include tablet {
            order: 0;
        }
    }

    &__detail {
        @include laptop {
            border-right: 1px solid color(grey-light);
        }

        .button {
            border: 1px solid color(grey-light);
            padding: 5px 10px;
            display: inline-block;
            align-items: center;
            margin-bottom: 10px;
            margin-right: 15px;

            @include laptop {
            margin-right: 30px;
            }

        }
        .text {
            @include fluid-type($min_width, $max_width, 13px, 14px);
            color: color(grey-primary);
        }
        .icon {
            width: 10px;
            margin-right: 5px;
            margin-bottom: 1px;

            @include laptop {
                width: 14px;
                margin-bottom: 2px;
            }
        }

        .h4 {
            @include fluid-type($min_width, $max_width, 18px, 30px);
            color: color(grey-title);
            font-weight: 500;
            line-height: 30px;

            @include laptop {
                padding-bottom: 15px;
            }
        }

        .h5 {
            @include fluid-type($min_width, $max_width, 15px, 20px);
            color: color(grey-title);
            font-weight: 500;
            line-height: 30px;
        }

        h6 {
            font-size: 16px;
        }
        > p {
            color: color(grey-primary);
            line-height: 30px;
            margin-top: 10px;
        }
    }

    &__title {
        @include fluid-type($min_width, $max_width, 22px, 40px);
        line-height: 30px;
        padding: 15px 0;
        color: color(grey-title);

        @include laptop {
            padding: 20px 0;
        }
    }

    .link{
        color: color(blue);
        border-color: color(blue);

        &:hover{
            background: color(blue);
            color: color(white);
        }
    }
}
