<template>
    <vue-dropzone
        ref="dropzone"
        id="dropzone"
        :options="dropOptions"
        :useCustomSlot=true
        @vdropzone-mounted="dropzoneInit"
        @vdropzone-canceled="removeAllFiles"
        @vdropzone-error="removeAllFiles"
        @vdropzone-removed-file="remove"
        @vdropzone-sending="sending"
        @vdropzone-file-added="attachListener"
        @vdropzone-success="response"
    >
        <div class="dropzone-custom-content">
            <h3 class="dropzone-custom-title">{{ title }}</h3>
            <div class="subtitle">{{ subtitle }}</div>
        </div>
    </vue-dropzone>
</template>

<script>
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import vue2Dropzone from 'vue2-dropzone';
    import $ from 'jquery';
    import axios from 'axios';

    export default {
        props: ['title', 'subtitle', 'removetext', 'url'],
        components: {
            vueDropzone: vue2Dropzone
        },
        data: () => ({
            dropOptions: {
                url: "/add/cv",
                dictRemoveFile: "Eliminar CV",
                maxFilesize: 30,
                maxFiles: 1,
                addRemoveLinks: true,
                acceptedFiles: 'application/pdf',
                headers: {
                    'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')
                }
            },
            user: {},
        }),
        methods: {
            dropzoneInit() {
                let file = { size: null, name: "Ver PDF", type: "application/pdf" };
                let path = `${this.url}`;
                if(this.url && this.url.length > 3) this.$refs.dropzone.manuallyAddFile(file, path);
            },
            openPDF() {
                let url = "";
                if(this.user.cv) url = `${this.user.cv}`;
                else url = `${this.url}`;
                let win = window.open(url, '_blank');
                win.focus();
            },
            remove(file, error, xhr) {
                axios.get('/remove/cv').then(response => {}).catch(error => {});
            },
            removeAllFiles() {
                this.$refs.dropzone.removeAllFiles();
            },
            sending(file, xhr, formData) {
                formData.append('cv', file);
            },
            attachListener(file) {
                file.previewElement.addEventListener("click", () => {
                    this.openPDF();
                });
            },
            response(file, response) {
                this.user = response.user;
            }
        }
    }
</script>

<style>
.dz-size {
    display: none;
}
.vue-dropzone>.dz-preview .dz-details {
    cursor: pointer;
    background-image: url('/images/pdf.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
}
.vue-dropzone>.dz-preview .dz-remove {
    background-color: red;
}
</style>
