<template>
    <div>

        <span class="badge badge-pill badge-dark cursor-pointer" @click.prevent="open">{{ this.text }}</span>

        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">{{ headertext }}</h3>
            <div slot="body">
                <div v-if="this.dataSource.length == 0">{{ noncandidate }}</div>
                <div class="candidates-wrapper my-3" v-for="user in this.dataSource" :key="user.id">
                    <div>
                        <img class="img" :src="user.image">
                    </div>
                    <div class="d-flex flex-column ml-2">
                        <span class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</span>
                        <a :href="getMailTo(user)">{{ user.email }}</a>
                        <div v-if="user.cv" class="cursor-pointer">
                            <span @click.prevent="openPDF(user)">
                                <i class="fas fa-file-pdf"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </modal>

    </div>
</template>

<script>
    import modal from './Modal';

    export default {
        props: ['text', 'noncandidate', 'nocvtext', 'headertext', 'users'],
        components: {
            modal
        },
        mounted() {
            let users = JSON.parse(this.users) || [];
            this.dataSource = users;
        },
        data: () => ({
            showModal: false,
            dataSource: [],
        }),
        methods: {
            open() {
                this.showModal = true;
            },
            openPDF(user) {
                if(!user.cv) {
                    alert(this.nocvtext);
                    return
                }

                let url = `${user.cv}`;
                let win = window.open(url, '_blank');
                win.focus();
            },
            getMailTo(user) {
                if(!user.email) return "#";
                return `mailto:${user.email}`;
            }
        },
    }
</script>

<style>
.cursor-pointer {
    cursor: pointer;
}
.candidates-wrapper {
    display: flex;
}
.candidates-wrapper > div:nth-child(1) {
    flex: 0 0 50px;
}
.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
</style>
