.box {
    border: 1px solid color(grey);
    margin: 25px auto;
    background-color: white;
    border-radius: 16px;

    width: 130px;
    height: 72%;

    @include tablet {
        width: 190px;
        height: 57%;
    }

    @include laptop {
        width: 180px;
        height: auto;
    }

    &:hover {
        box-shadow: 0 3px 10px rgba(0,0,0,0.5);
        cursor: pointer;
        transition: all 0.3s linear;
        border: 0;
    }
    &__item {
        text-align: center;
        padding: 15px 0;
        .icon {
            font-size: 30px;
            color: color(blue-primary);

            @include tablet {
                font-size: 50px;
            }

            @include laptop {
                font-size: 55px;
            }
        }
        .box-title {
            color: color(blue);
            font-weight: 600;
            font-size: 15px;
            padding-top: 10px;
            margin: 0;
        }
        .img {
            width: 50px;
            max-width: 100%;
            border-radius: 0;
        }
    }
    @include tablet {
        margin: 50px auto;
    }

    @include laptop {
        margin: 100px auto;
    }
    &:hover {
        color: color(grey-primary);
        //transition: all 0.3s linear;
        transition:all .5s ease-in-out;
        .icon {
            color: color(grey-primary);
            transition: all 0.3s linear;
        }
    }
}
