.footer{
    &__pre {
        background-color: color(grey-footer);
        width: 100%;
        padding: 25px;
        .icon {
            color: color(grey-secondary);
            padding: 15px;
            &:hover{
                color: color(orange);
            }
           @include laptop{
               font-size: 25px;
               padding: 15px 30px;
           }
        }
        .footer-title{
            padding-top: 10px;
            color: color(grey-secondary);

            @include fluid-type($min_width, $max_width, 20px, 25px);
        }
        .footer-icons{
            padding: 15px 0;
        }
    }


    &__content{
        background-color: color(blue-footer );
        //min-height: 400px;
        color: white;
        //padding: 20px 0;

        @include laptop {
            padding-bottom: 0 ;
            padding-top: 50px;
        }

        .img-logo{
            //height: 100px;
            width: 100px;
            padding-bottom: 30px;
        }

        .footer-separator{
            color: color(grey-secondary);
            border-bottom: 1px solid color(grey-primary);
        }
        .footer-title{
            color: color(white);
            margin: 0;
            text-align: left;

            @include fluid-type($min_width, $max_width, 13px, 18px);

            @include laptop{
                text-align: left;
            }
            &:hover{
                color: color(orange);
            }
        }

        .footer-subtitle {
            text-align: center;
            color: color(white);
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;

            @include laptop {
                text-align: left;
            }
        }

        .without-hover{
            &:hover{
                color: color(white);
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        padding: 15px;

        @include laptop{
            flex-direction: inherit;
        }
        .footer-title{
            text-align: left;
            text-transform: uppercase;
        }
        .without-hover{
            &:hover{
                color: color(white);
            }
        }

    }
    &__item{
        color: white !important;
        line-height: 22px;
        display: inline-block;
        padding: 5px 0;

        &:hover{
            color: color(orange);
        }

        &.social-media {
            width: 30px;
        }
    }
    &__media {
        display: flex;
        flex-direction: column;
        .social-media {
            width: 45px;
            padding: 20px 20px 0 0;

        }

        &__icon {
            height: 100%;
            padding-top: 0.1rem;
        }
    }
}
