.header{
    background-color: color(blue-primary);
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    .navbar{
        padding: 0;
    }

    .navbar-collapse {
        padding: 0 0 20px 0;

        @include laptop {
            padding: 0;
        }
    }

    &__item{
        padding: 10px 0;

        @include laptop {
            padding: 22px;
        }
        &.active , &:hover{
            background-color: color(blue);
        }
    }
    .link-header{
        color: white;
        display: block;
        padding: 15px;
        //opacity: 0.6;
        transition: 0.3s;

        &.active , &:hover{
            background-color: color(blue);
            //color: color(white);
            //opacity: 1;
        }

        @include laptop {
            padding: 24px 40px;
        }
    }

    .link-header-phone {
        &.active , &:hover{
            background-color: color(blue-primary);
            color: color(white);
        }

        .img-fluid {
            width: auto;
            height: 26px;
        }
    }

    .btn-header{
        padding: 15px 0;

        @include laptop{
            padding: 15px;
        }
    }
    .btn-link-header{
        border: 1px solid white;
        border-radius: 5px ;
        background-color: color(blue-primary);
        color: white;
        padding: 4px 8px;
        transition: all .3s linear;
        font-size: 12px;
        &:hover{
            background-color: color(white);
            color: color(blue);
        }
    }

    .navbar-toggler-icon {
        background-image: url('/images/icons/menu.svg');
    }

    .navbar-toggler {
        border: 0;
        outline: none;
        font-size: 15px;
    }

    &__profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        border: 1px solid #cccc;


        &__content {
            background-color: color(white);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
            border-radius: 2px;

            margin-top: 4.3rem;
            margin-left: 30px;

            .dropdown-profile {
                color: color(grey-title);
                padding: 10px 25px;
                display: block;
                font-weight: 500;

                &:hover {
                    background-color: color(grey-hover);
                    color:#868585;
                }
                &:last-child {
                    border-top: 1px solid #e9ecef;
                }
            }
        }
    }

    &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}
