.home{

    &__search{
        height: 370px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        box-shadow: 0 2px 10px rgba(0,0,0,.1);
        @include tablet{
            height: 450px;
        }
        @include laptop{
            min-height: calc(100vh - 70px);
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: black;
            opacity: 0.7;
        }
        &__form{
            position: absolute;
            top: 50%;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            @include laptop {
                width: 50%;
            }

            .btn-secondary {
                color: color(grey);
                background-color: color(white);
                border-left: 1px solid color(grey);
                border-top: 1px solid color(grey);
                border-right: 1px solid color(grey);
                border-bottom: 1px solid color(grey);

                &:hover {
                    color: color(grey-primary);
                }

            }
        }
    }
    .form-control {
        height: 50px;
    }

    &__item {
        padding: 50px 0;
        background-color: color(grey-footer);

        @include tablet {
            padding: 100px 0;
        }

        &__title {

        }

        &__description {
            color: color(grey-medium);
            padding: 30px 0;
            @include tablet {
                padding: 30px 0 30px 50px;
            }
            @include desktop {
                padding: 30px 70px 30px 70px ;
            }
        }

        &__img {
            height: 100%;
            background-position: center center;
            background-size: cover;
            min-height: 200px;

            @include laptop {
                min-height: 300px;
            }
        }
    }

    &__wrapped {
        background-color: color(white);
    }
    &__arrow {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: all .3s ease;
        animation: arrow .5s infinite alternate;
        -webkit-animation: arrow .5s infinite alternate;

        .fa-chevron-down {
            font-size: 30px;
            position: relative;
            margin-bottom: 30px;
            color: color($white);
            cursor: pointer;
        }
    }
}
