.job{
    background: $white;
    padding: 30px;
    border-radius: 3px 3px 0 0;
    margin: 25px 0;
    border: 1px solid #e9ecef;

    &:hover {
    border: 1px solid color(grey-hover);
        box-shadow: 0 2px 10px rgba(0,0,0,.1);
    }

    &__description{
        color: color(grey-medium);

        &.elipsis {
            width:100%;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
        }
    }

    &__time {
        color: color(grey-secondary);
        padding-right: 10px;
        display: inline-block;
    }

    &__item {

    }



    .address {
        color:color(grey-secondary);

    }
}
