.pagination {
    padding-bottom: 25px;
}
.page-link {
    color: color(grey-medium);

    &:hover {
        background-color: color(blue);
        color: color(white);
    }
}
.page-item.active .page-link {
    background-color: color(blue);
    border-color: color(blue);
}
.btn-primary {
    background-color: color(blue);
    border-color: color(blue);
    transition: all .3s linear;

    &:hover,
    &:focus,
    &:active{
        background-color: color(blue-primary) !important;
        border-color: color(blue-primary) !important;
    }
}

.btn-outline-primary {
    color: color(blue);
    border-color: color(blue) !important ;

    &:hover,
    &:active,
    &:focus{
        background: color(blue) !important;
        color: color(white) !important;
        border-color: color(blue) !important ;
        transition: all 0.3s ease-in-out;
    }
}

.swiper-button-next {
    color: color(black) !important;
}
.swiper-button-prev {
    color: color(black) !important;
}
