.profile {
    color: color(grey-medium);
    background-color: color(white);

    &__detail {
        padding: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include laptop{
            border-bottom: 0;
            border-right: 1px solid color(grey-light);
            justify-content: space-between;
            padding-top: 50px;
        }

        .link {
            color: color(grey-title);

            &:hover {
                color: color(grey-medium);
                text-decoration: underline !important;
            }
        }

        .profile-img {
            cursor: pointer;
            width: 128px;
            height: 128px;
            border-radius: 6px;
            object-fit: cover;
            display: block;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .profile-name {
            text-align: center;
        }
    }

    &__link {
        .nav-link {
            color: color(grey-title);
            text-align: center;
            padding: 10px 0 0 0;
            &.active , &:hover  {
                color: color(grey-medium);
                text-decoration: underline !important;
                background-color: initial;
            }
        }
    }

    &__item {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid color(grey-light);

        @include laptop {
            padding: 50px 20px 30px 20px;
        }

        .nav-tabs .nav-link {
            color: #003068;
            border-color: white white #dee2e6;

            &.active {
                background-color: white;
                border-color: white white #003068;
            }

            &:hover {
                border-color: white white #003068;
            }
        }



        .link {
            color: color(grey-medium);
            &:hover {
                color: color(grey-medium);
                text-decoration: underline !important;
                background-color: initial;
            }
        }
        .btn-primary {
            background-color: color(blue);
            border-color: color(blue);
            transition: all .3s linear;

            &:hover {
                background-color: color(blue-primary);
            }

        }
        .btn-cv {
            padding-bottom: 12px;
            display: flex;
            @include laptop {
                align-items: flex-end;
            }
        }
    }

    &__info {

        > span {
            padding-top: 5px;
            line-height: 26px;
        }
        .link {
            color: color(grey-medium);
            &:hover {
                color: color(grey-medium);
                text-decoration: underline !important;
                background-color: initial;
            }
        }
    }

    &__cv {
        padding-top: 5px;
        line-height: 26px;
        /*> span {
            padding-top: 5px;
            line-height: 26px;
        }*/

        .link {
            color: color(blue);
            &:hover {
                color: color(blue);
                text-decoration: none !important;
                border-bottom: 1px solid color(blue);
                padding-bottom: 1px;
                //background-color: initial;
            }
            .fa {
                &-chevron-right {
                    width: 10px;
                }
            }
        }
        .icon {
            width: 10px;
            margin-left: 5px;
            margin-bottom: 1px;

            @include laptop {
                width: 12px;
                margin-bottom: 2px;
            }
        }
    }

    &__edit {
        font-size: 13px;
        color: color(grey-primary);

        &:hover {
            color: color(grey-medium);
            text-decoration: underline !important;
            background-color: initial;
        }
        .fa {
            &-pencil {
                &-alt {
                    width: 10px;
                }
            }
        }
    }
    &__pagination {
        padding: 30px 0;
    }

    &__table {
        tbody {
            overflow-x: auto;
            border: 1px solid color(grey-light);

            @include laptop {
                border: 0;
            }
        }
        th {
            padding: 10px;
            white-space: nowrap;
        }
        td {
            padding: 10px;
            white-space: nowrap;
        }

        .table-title {
            border-bottom: 1px solid color(grey-light);
        }
        tr {
            border-bottom: 1px solid color(grey-light);
        }
    }

    .h3 {
        color: color(black-medium);
    }
}
