.search {
    background-color: color(blue);
    position: relative;

    &__logo {
        height: 200px;

        .image {
            height: 100%;
            max-width: 100%;
        }
    }

    &__form{
        padding: 55px 25px;

        @include laptop {
            padding: 0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 80%;
        }
    }

    .fa-search {
        color: color(white);
    }
    .btn-secondary {
        background-color: color(orange);
        border-color: color(grey-border);
    }
}
