.wrapped {
    background-color: color(white);
    padding: 50px 0;

    .link{
        color: color(blue);
        display: block;
    }

    .icon {
        color: color(blue);
    }

    .card-text {
        color: color(grey-medium);
    }


    &__link {
        display: flex;
        justify-content: space-between;
    }
}
